@model IEnumerable<Report_DO.GBInterface>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")&nbsp;&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Go back System", "System", "Home")
</p>
<div class="container-body">
    <table class="table table-striped table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BSCName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GBValue)
            </th>
            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BSCName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GBValue)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BSCName }) |
                    @Html.ActionLink("Details", "Details", new { id = item.BSCName }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.BSCName })
                </td>
            </tr>
        }

    </table>
</div>