@model IEnumerable<Report_DO.BoradClass>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create") &nbsp;&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Go back System","System","Home")
</p>
<div class="container-body">
    <table class="table table-striped table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BoardClassId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoardClass)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BoardClassId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BoardClass)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BoardClassId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.BoardClassId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.BoardClassId })
                </td>
            </tr>
        }

    </table>
</div>