@model IEnumerable<Report_DO.BSCNames>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")&nbsp;&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Go back System", "System", "Home")

</p>
<table class="table table-striped table-hover table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BSCNameID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BSCName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BSCNameID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BSCName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BSCNameID }) |
                @Html.ActionLink("Details", "Details", new { id = item.BSCNameID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BSCNameID })
            </td>
        </tr>
    }

</table>
