@model IEnumerable<Report_DO.FMEngineers>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")&nbsp;&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Go back System", "System", "Home")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SiteName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FMEngineer)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SiteName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FMEngineer)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FMEngineerListID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FMEngineerListID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FMEngineerListID })
        </td>
    </tr>
}

</table>
