@*@model IEnumerable<Report_DO.SiteList>*@

@model PagedList.IPagedList<Report_DO.SiteList>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")&nbsp;&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Go back System", "System", "Home")
</p>
@using (Html.BeginForm("Index", "SiteList", FormMethod.Get))
{
    <p>
        @Html.TextBox("Search_Data", ViewBag.FilterValue as string, new { @placeholder = "SiteName" })
        <input type="submit" value="Go" />
    </p>
}
<div class="container-body">
    <table class="table table-striped table-hover table-bordered">
        <tr>
            <th>
                @Html.ActionLink("SiteID", "Index", new { Sorting_Order = ViewBag.SortingName, Filter_Value = ViewBag.FilterValue })
            </th>
            <th>
                @Html.ActionLink("SiteName", "Index", new { Sorting_Order = ViewBag.SortingName, Filter_Value = ViewBag.FilterValue })
            </th>
            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SiteID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SiteName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.SiteID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.SiteID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.SiteID })
                </td>
            </tr>
        }

    </table>
</div>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, Page_No => Url.Action("Index",
new { Page_No, Sorting_Order = ViewBag.CurrentSortOrder, Filter_Value = ViewBag.FilterValue }))