@model Report_DO.DataComGBLinkCap

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DataComGBLinkCap</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BSCName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BSCName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GBLinkCapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GBLinkCapacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BeginDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeginDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
