@model Report_DO.KPICal

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>KPICal</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReportGroupID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportGroupID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KPIName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KPIName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KPINameDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KPINameDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KPIType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KPIType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KPIFormula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KPIFormula)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KPICalculationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
