@model PagedList.IPagedList<Report_DO.KPICal>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

    <h2>KPICal Configure</h2>
    <p>
        @Html.ActionLink("Create New", "Create")&nbsp;&nbsp;&nbsp;&nbsp;
        @Html.ActionLink("Go back System", "System", "Home")
    </p>
    @using (Html.BeginForm("Index", "KPI", FormMethod.Get))
    {
        <p>
            @Html.TextBox("Search_Data", ViewBag.FilterValue as string, new { @placeholder = "KPI Name" })
            <input type="submit" value="Go" />
        </p>
        
    }
    <table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.ActionLink("ID", "Index", new { Sorting_Order = ViewBag.SortingName, Filter_Value = ViewBag.FilterValue })
        </th>
        <th>
            @Html.ActionLink("ReportID", "Index", new { Sorting_Order = ViewBag.SortingName, Filter_Value = ViewBag.FilterValue })
        </th>
        <th>
            @Html.ActionLink("KPI Name", "Index", new { Sorting_Order = ViewBag.SortingName, Filter_Value = ViewBag.FilterValue })
        </th>
        <th>
            @Html.ActionLink("KPI Description", "Index", new { Sorting_Order = ViewBag.SortingName, Filter_Value = ViewBag.FilterValue })
        </th>
        <th>
            @Html.ActionLink("KPI Type", "Index", new { Sorting_Order = ViewBag.SortingName, Filter_Value = ViewBag.FilterValue })
        </th>
        <th>
            @Html.ActionLink("KPI Formula", "Index", new { Sorting_Order = ViewBag.SortingName, Filter_Value = ViewBag.FilterValue })
        </th>
        <th>
            Action
        </th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KPICalculationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportGroupID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KPIName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KPINameDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KPIType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KPIFormula)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.KPICalculationId }) |
                @Html.ActionLink("Details", "Details", new { id = item.KPICalculationId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.KPICalculationId })
            </td>
        </tr>
    }

</table>

    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, Page_No => Url.Action("Index",
    new { Page_No, Sorting_Order = ViewBag.CurrentSortOrder, Filter_Value = ViewBag.FilterValue }))
    

