<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BI</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>    
    <div class="navbar navbar-inverse navbar-fixed-top">       
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Dashboard", "Dashboard", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="dropdown">
                        <a href="~/Report/Index.cshtml" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Traffic InOutbound", "Index", "TrafficInOut")</li>                            
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Schedule", "Schedule", "Home")</li>                    
                    <li></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage Reference<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Magage User", "Index", "Account/Register")</li>
                            <li>@Html.ActionLink("Manage Reports", "Index", "Report")</li>
                            <li>@Html.ActionLink("Manage KPI", "Index", "KPI")</li>
                            <li>@Html.ActionLink("Manage Parameters", "Index", "Parameters")</li>
                            <li>@Html.ActionLink("Manage Systems", "Index", "Report")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
        </div>
    <div class="container body-content">
        @RenderBody()
        <hr />        
            <footer>
                <p>&copy; @DateTime.Now.Year - CCPL Global LTD. All Rights Reserved.</p>
            </footer>        
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
