@model Report_DO.TXNLinkBudget

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TXNLinkBudget</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Hop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Config)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Config)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RSLValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RSLValue)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LinkBudgetID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
