@model Report_DO.ParamConfig

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ParamConfig</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MasterReportId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MasterReportId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PKeyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PKeyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PkeyValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PkeyValue)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
