@model Report_DO.GCellList

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>GCellList</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.BSCNameID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BSCNameID)
                @Html.ValidationMessageFor(model => model.BSCNameID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GCellName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GCellName)
                @Html.ValidationMessageFor(model => model.GCellName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GCellValue, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GCellValue)
                @Html.ValidationMessageFor(model => model.GCellValue)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Province, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Province)
                @Html.ValidationMessageFor(model => model.Province)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
