@*@model IEnumerable<Report_DO.GCellList>*@

@model PagedList.IPagedList<Report_DO.GCellList>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")&nbsp;&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Go back System", "System", "Home")
</p>
@using (Html.BeginForm("Index", "GCellList", FormMethod.Get))
{
    <p>
        @Html.TextBox("Search_Data", ViewBag.FilterValue as string, new { @placeholder = "GCell Name & GCell Value" })
        <input type="submit" value="Go" />
    </p>
}
<table class="table table-striped table-hover table-bordered">
    <tr>
        <th>
            @Html.ActionLink("BSCNameID", "Index", new { Sorting_Order = ViewBag.SortingName, Filter_Value = ViewBag.FilterValue })
        </th>
        <th>
            @Html.ActionLink("GCellName", "Index", new { Sorting_Order = ViewBag.SortingName, Filter_Value = ViewBag.FilterValue })
        </th>
        <th>
            @Html.ActionLink("GCellValue", "Index", new { Sorting_Order = ViewBag.SortingName, Filter_Value = ViewBag.FilterValue })
        </th>
        <th>
            @Html.ActionLink("Province", "Index", new { Sorting_Order = ViewBag.SortingName, Filter_Value = ViewBag.FilterValue })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BSCNameID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GCellName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GCellValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Province)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.GCellID }) |
                @Html.ActionLink("Details", "Details", new { id = item.GCellID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.GCellID })
            </td>
        </tr>
    }

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, Page_No => Url.Action("Index",
new { Page_No, Sorting_Order = ViewBag.CurrentSortOrder, Filter_Value = ViewBag.FilterValue }))