@model Report_DO.TXNLinkBudgetSD

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>TXNLinkBudgetSD</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Hop, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hop)
                @Html.ValidationMessageFor(model => model.Hop)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LinkName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LinkName)
                @Html.ValidationMessageFor(model => model.LinkName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Config, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Config)
                @Html.ValidationMessageFor(model => model.Config)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RSLValue, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RSLValue)
                @Html.ValidationMessageFor(model => model.RSLValue)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
