@model Report_DO.BoardType

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>BoardType</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.BoardTypeId)

        <div class="form-group">
            @Html.LabelFor(model => model.BSCNameID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BSCNameID)
                @Html.ValidationMessageFor(model => model.BSCNameID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SubRackNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SubRackNo)
                @Html.ValidationMessageFor(model => model.SubRackNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SlotNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SlotNo)
                @Html.ValidationMessageFor(model => model.SlotNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Boardtype, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Boardtype)
                @Html.ValidationMessageFor(model => model.Boardtype)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LogicalFunctionType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LogicalFunctionType)
                @Html.ValidationMessageFor(model => model.LogicalFunctionType)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
