@*@model IEnumerable<Report_DO.BoardType>*@

@model PagedList.IPagedList<Report_DO.BoardType>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")&nbsp;&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Go back System", "System", "Home")
</p>
@using (Html.BeginForm("Index", "BoardType", FormMethod.Get))
{
    <p>
        @Html.TextBox("Search_Data", ViewBag.FilterValue as string, new { @placeholder = "Board Type" })
        <input type="submit" value="Go" />
    </p>
}
<div class="container-body">
    <table class="table table-striped table-hover">
        <tr>
            <th>
                @Html.ActionLink("BSCNameID", "Index", new { Sorting_Order = ViewBag.SortingName, Filter_Value = ViewBag.FilterValue })

            </th>
            <th>
                @Html.ActionLink("SubRackNo", "Index", new { Sorting_Order = ViewBag.SortingName, Filter_Value = ViewBag.FilterValue })

            </th>
            <th>
                @Html.ActionLink("SlotNo", "Index", new { Sorting_Order = ViewBag.SortingName, Filter_Value = ViewBag.FilterValue })

            </th>
            <th>
                @Html.ActionLink("Boardtype", "Index", new { Sorting_Order = ViewBag.SortingName, Filter_Value = ViewBag.FilterValue })

            </th>
            <th>
                @Html.ActionLink("LogicalFunctionType", "Index", new { Sorting_Order = ViewBag.SortingName, Filter_Value = ViewBag.FilterValue })

            </th>
            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BSCNameID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubRackNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SlotNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Boardtype)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LogicalFunctionType)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BoardTypeId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.BoardTypeId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.BoardTypeId })
                </td>
            </tr>
        }

    </table>
    </div>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, Page_No => Url.Action("Index",
    new { Page_No, Sorting_Order = ViewBag.CurrentSortOrder, Filter_Value = ViewBag.FilterValue }))
