
@{
    ViewBag.Title = "Dashboard";
    DateTime dt = DateTime.Now;
    string date = string.Format("{0: dd MMM yyyy}", dt);

}

<div class="container">
    <div class="row"><h2>Daily Report</h2></div>
    <div>
        <ul>           
               @using (Html.BeginForm("Dashboard", "Home", FormMethod.Get))
               {
                   @*@Html.DisplayNameFor(model => model.StartDate)*@
               }

        </ul>
    </div>
</div>

<div class="col-md-12">
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Radio Network</th>
                <th>@date</th>
                <th>@date</th>
                <th>@date</th>
                <th>@date</th>
                <th>@date</th>
                <th>@date</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Traffic_24H (Erl)</td>
                <td>163716.58</td>
                <td>163716.58</td>
                <td>163716.58</td>
                <td>163716.58</td>
                <td>163716.58</td>
                <td>163716.58</td>
            </tr>
            <tr>
                <td>Traffic_BH (Erl)</td>
                <td>163716.58</td>
                <td>163716.58</td>
                <td>163716.58</td>
                <td>163716.58</td>
                <td>163716.58</td>
                <td>163716.58</td>
            </tr>
            <tr class="info">
                <td>Total GPRS-EDGE Traffic (MB)</td>
                <td>163716.58</td>
                <td>163716.58</td>
                <td>163716.58</td>
                <td>163716.58</td>
                <td>163716.58</td>
                <td>163716.58</td>
            </tr>
            <tr class="success">
                <td>CSSR (%)</td>
                <td>163716.58</td>
                <td>163716.58</td>
                <td>163716.58</td>
                <td>163716.58</td>
                <td>163716.58</td>
                <td>163716.58</td>
            </tr>
            <tr class="danger">
                <td>TCH Congestion (%)</td>
                <td>163716.58</td>
                <td>163716.58</td>
                <td>163716.58</td>
                <td>163716.58</td>
                <td>163716.58</td>
                <td>163716.58</td>
            </tr>
            <tr class="warning">
                <td>CDR (%)</td>
                <td>163716.58</td>
                <td>163716.58</td>
                <td>163716.58</td>
                <td>163716.58</td>
                <td>163716.58</td>
                <td>163716.58</td>
            </tr>
            <tr class="active">
                <td>SDCCH Congestion (%)</td>
                <td>163716.58</td>
                <td>163716.58</td>
                <td>163716.58</td>
                <td>163716.58</td>
                <td>163716.58</td>
                <td>163716.58</td>
            </tr>
        </tbody>
    </table>
</div>

